@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Saira Condensed', sans-serif;
}

.loading {
  transform: scale(0);
  animation: loadingAnim 1s ease-out infinite;
}

.loading:nth-child(2) {
  animation-delay: 0.2s;
}
.loading:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes loadingAnim {
  0% {
    transform: scale(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  50% {
    transform: scale(1);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  }
  100% {
    transform: scale(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
}
