@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-bold;
  }
  h2 {
    @apply font-bold;
  }
  h3 {
    @apply font-bold;
  }
  h4 {
    @apply font-bold;
  }
  h5 {
    @apply font-bold;
  }
  h6 {
    @apply font-bold;
  }
}

body {
  font-family: 'Saira Condensed', sans-serif;
}

/* Loading Screen */
.loading-screen {
  transform: scale(0);
  animation: loadingAnim 1s ease-out infinite;
}

.loading-screen:nth-child(2) {
  animation-delay: 0.2s;
}
.loading-screen:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes loadingAnim {
  0% {
    transform: scale(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  50% {
    transform: scale(1);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  }
  100% {
    transform: scale(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
}

/* Swiper */
.swiper-slide-thumb-active {
  border: 2px solid #fff;
}

/* Editor.js */
.codex-editor__redactor {
  padding-bottom: 50px!important;
}

/* ComboBox */
[data-suggested-value],
[data-user-value] {
  font-size: 16px;
}